$clr-primary-100: hsl(0, 0%, 100%);
$clr-primary-200: hsl(0, 0%, 90%);
$clr-primary-300: hsl(0, 0%, 75%);
$clr-primary-800: hsl(0, 0%, 15%);
$clr-primary-900: hsl(0, 0%, 0%);

$clr-secondary-800: hsl(232, 15%, 21%);
$clr-secondary-900: hsl(232, 15%, 10%);

$apple-blossom: #ac4142;
$alto: #d0d0d0;
$bouquet: #aa759f;
$chelsea-cucumber: #90a959;
$cod-grey: #151515;
$grey: #888;
$gulf-stream: #75b5aa;
$hippie-blue: #6a9fb5;
$potters-clay: #8f5536;
$rajah: #f4bf75;
$raw-sienna: #d28445;
$silver-chalice: #aaa;
$dove-grey: #666;
