// NAVBAR
.nav-link, .dropdown-item, .navbar-brand {
    font-weight: 600 !important;
    color: $clr-primary-300 !important;
}

.nav-link:hover, .dropdown-item:hover {
    color: $clr-primary-100 !important;
}

.navbar .nav-item .dropdown-menu {
    background-color: transparent;
    border: none;
}

@media all and (min-width: 768px) {
    @media all and (hover: hover) {
        .navbar .nav-item .dropdown-menu {
            display: none;
        }
    }

    .navbar .nav-item .dropdown-menu {
        background-color: adjustAlpha($clr-primary-900, 0.9);
        margin-top: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar-brand {
        padding: 0 1.5rem;
    }
}

.dropdown-item:hover {
    background-color: $clr-primary-800;
}

.navbar-img {
    width: 32px;
    height: 32px;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav .nav-item:hover {
    color: adjustAlpha($clr-primary-900, 0.9);
}

.bg-dark {
    background-color: $clr-primary-900 !important;
}

.navbar {
    padding: 1rem;
}


// FOOTER
.footer {
    text-align: center;
}

.license {
    color: adjustAlpha($clr-primary-100, 0.7);
}

.license:hover {
    color: $clr-primary-100;
}
